#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(101, 99, 99, 0.43);
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loader {
    position: absolute;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    z-index: 1001;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
}

.img {
    width: 100%;
    height: auto;
    display: block;
}

.dialog {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(101, 99, 99, 0.43);
    z-index: 1000;
}

.progressbarwrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    z-index: 10002;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-group {
    margin-bottom: 0;
    text-align: left;
}

input {
    height: 35px;
    max-width: 100%;
}
label {
    margin-top: 5px;
}

.form .btn {
    margin-top: 10px;
}